FORMAT: 1A
HOST: http://private-f124c1-kkdevmobile.apiary-mock.com/

# Resolution Center API

## Complaint [/v1/fjb/cases{?onprocess}]

### List All Complaints [GET]

+ Response 200 (application/json)

        {
          "data": [
            {
              "id" : "8291", 
              "type" : 1, 
              "date" : 1203123123,
              "message" : "barang tidak sesuai kondisi ni gan..",
              "status" : {
                "id" : "1",
                "label" : "On Case"
              },
              "complaint_category" : {
                "id" : "1",
                "label" : "Tidak Sesuai kondisi"
              },
              "invoice" : {
                "id" : "B15823C58E2FB7A5",
                "item": {
                  "id":"LAPAK ID",
                  "title": "CD Westlife",
                  "image": "https://cdn-staging.kaskus.id/images/fjb/2017/03/22/cd_westlife_273525_1490168540.png"
                },
                "buyer": {
                  "id": "409596",
                  "username": "fasd77",
                  "avatar": "https://cdn-branches.kaskus.id/user/avatar/2008/02/28/avatar409596_11.gif",
                  "is_vsl": true/false,
                  "is_donatur": true/false
                },
                "seller": {
                  "id": "6366",
                  "username": "Juragan",
                  "avatar": "https://cdn-branches.kaskus.id/user/avatar/male.jpg",
                  "is_vsl": true/false,
                  "is_donatur": true/false
                }
              }
            },
            {
              "id" : "8292", 
              "type" : 1, 
              "date" : 1203123123,
              "message" : "barang tidak sesuai kondisi ni gan..",
              "status" : {
                "id" : "1",
                "label" : "On Case"
              },
              "complaint_category" : {
                "id" : "1",
                "label" : "Tidak Sesuai kondisi"
              },
              "invoice" : {
                "id" : "B15823C58E2FB7A5",
                "item": {
                  "id":"LAPAK ID",
                  "title": "CD Westlife",
                  "image": "https://cdn-staging.kaskus.id/images/fjb/2017/03/22/cd_westlife_273525_1490168540.png"
                },
                "buyer": {
                  "id": "409596",
                  "username": "fasd77",
                  "avatar": "https://cdn-branches.kaskus.id/user/avatar/2008/02/28/avatar409596_11.gif",
                  "is_vsl": true/false,
                  "is_donatur": true/false
                },
                "seller": {
                  "id": "6366",
                  "username": "Juragan",
                  "avatar": "https://cdn-branches.kaskus.id/user/avatar/male.jpg",
                  "is_vsl": true/false,
                  "is_donatur": true/false
                }
              }
            },
            {
              "id" : "8293", 
              "type" : 1, 
              "date" : 1203123123,
              "message" : "barang tidak sesuai kondisi ni gan..",
              "status" : {
                "id" : "1",
                "label" : "On Case"
              },
              "complaint_category" : {
                "id" : "1",
                "label" : "Tidak Sesuai kondisi"
              },
              "invoice" : {
                "id" : "B15823C58E2FB7A5",
                "item": {
                  "id":"LAPAK ID",
                  "title": "CD Westlife",
                  "image": "https://cdn-staging.kaskus.id/images/fjb/2017/03/22/cd_westlife_273525_1490168540.png"
                },
                "buyer": {
                  "id": "409596",
                  "username": "fasd77",
                  "avatar": "https://cdn-branches.kaskus.id/user/avatar/2008/02/28/avatar409596_11.gif",
                  "is_vsl": true/false,
                  "is_donatur": true/false
                },
                "seller": {
                  "id": "6366",
                  "username": "Juragan",
                  "avatar": "https://cdn-branches.kaskus.id/user/avatar/male.jpg",
                  "is_vsl": true/false,
                  "is_donatur": true/false
                }
              }
            },
            {
              "id" : "8294", 
              "type" : 1, 
              "date" : 1203123123,
              "message" : "barang tidak sesuai kondisi ni gan..",
              "status" : {
                "id" : "1",
                "label" : "On Case"
              },
              "complaint_category" : {
                "id" : "1",
                "label" : "Tidak Sesuai kondisi"
              },
              "invoice" : {
                "id" : "B15823C58E2FB7A5",
                "item": {
                  "id":"LAPAK ID",
                  "title": "CD Westlife",
                  "image": "https://cdn-staging.kaskus.id/images/fjb/2017/03/22/cd_westlife_273525_1490168540.png"
                },
                "buyer": {
                  "id": "409596",
                  "username": "fasd77",
                  "avatar": "https://cdn-branches.kaskus.id/user/avatar/2008/02/28/avatar409596_11.gif",
                  "is_vsl": true/false,
                  "is_donatur": true/false
                },
                "seller": {
                  "id": "6366",
                  "username": "Juragan",
                  "avatar": "https://cdn-branches.kaskus.id/user/avatar/male.jpg",
                  "is_vsl": true/false,
                  "is_donatur": true/false
                }
              }
            },
            {
              "id" : "8295", 
              "type" : 1, 
              "date" : 1203123123,
              "message" : "barang tidak sesuai kondisi ni gan..",
              "status" : {
                "id" : "1",
                "label" : "On Case"
              },
              "complaint_category" : {
                "id" : "1",
                "label" : "Tidak Sesuai kondisi"
              },
              "invoice" : {
                "id" : "B15823C58E2FB7A5",
                "item": {
                  "id":"LAPAK ID",
                  "title": "CD Westlife",
                  "image": "https://cdn-staging.kaskus.id/images/fjb/2017/03/22/cd_westlife_273525_1490168540.png"
                },
                "buyer": {
                  "id": "409596",
                  "username": "fasd77",
                  "avatar": "https://cdn-branches.kaskus.id/user/avatar/2008/02/28/avatar409596_11.gif",
                  "is_vsl": true/false,
                  "is_donatur": true/false
                },
                "seller": {
                  "id": "6366",
                  "username": "Juragan",
                  "avatar": "https://cdn-branches.kaskus.id/user/avatar/male.jpg",
                  "is_vsl": true/false,
                  "is_donatur": true/false
                }
              }
            }
          ],
          "meta": {
            "cursor": {
              "current": "",
              "prev": "",
              "next": "eyJvZmZzZXQiOjEwfQ",
              "count": 5
            }
          }
        }


### Create a New Question [POST]

You may create your own question using this action. It takes a JSON
object containing a question and a collection of answers in the
form of choices.

+ Request (application/json)

        {
            "question": "Favourite programming language?",
            "choices": [
                "Swift",
                "Python",
                "Objective-C",
                "Ruby"
            ]
        }

+ Response 201 (application/json)

    + Headers

            Location: /questions/2

    + Body

            {
                "question": "Favourite programming language?",
                "published_at": "2015-08-05T08:40:51.620Z",
                "choices": [
                    {
                        "choice": "Swift",
                        "votes": 0
                    }, {
                        "choice": "Python",
                        "votes": 0
                    }, {
                        "choice": "Objective-C",
                        "votes": 0
                    }, {
                        "choice": "Ruby",
                        "votes": 0
                    }
                ]
            }